bin/
lib/
lib64
pyvenv.cfg
share/
src/utils/__pycache__/
*__pycache__/
.vscode
src/notebooks/yolov5/runs
src/images/errors/*
src/appium/
src/apks/
src/latest_report.txt
src/accounts.json
src/objdetector/yolo_images/*
src/runner.py
src/yolov8l.pt
src/yolov8m.pt
src/yolov8x.pt
src/objdetector/weights/*
src/notebooks/yolo_images/*
src/images/history/*
runs/*
src/notebooks/.ipynb_checkpoints/*
etc/*